body {
    background-color: #1b263b;
    color: white;
    padding: 3%;
}

h3.list {
    font-style: italic;
    text-align: center;
    padding: 20px 0px 10px 30px;
}

ul li {
    text-align: center;
    list-style: none;
}

ul li:nth-child(odd) {
    background-color: #0d1b2a;
}

ul li:nth-child(n + 5):nth-child(odd) {
    font-size: 40px;
}

ul li:nth-child(n + 5):nth-child(even) {
    font-size: 30px;
}

ul li:not(:nth-child(n + 5)):nth-child(odd) {
    font-size: 50px;
}

ul li:not(:nth-child(n + 5)):nth-child(even) {
    font-size: 30px;
}

#name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#top-img {
    float: left;
    height: 330px;
    padding: 10px;
    background-color: #0d1b2a;
}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 8px;
    left: 380px;
    right: 10px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}

.des-container {
    height: 350px;
    position: relative;;
}
